<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>CreateUserServlet</servlet-name>
        <servlet-class>university.web.servlet.CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupServlet</servlet-name>
        <servlet-class>university.web.servlet.CreateGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectionServlet</servlet-name>
        <servlet-class>university.web.servlet.LectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectionViewServlet</servlet-name>
        <servlet-class>university.web.servlet.LectionViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>university.web.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyInfoServlet</servlet-name>
        <servlet-class>university.web.servlet.MyInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLectionCommentServlet</servlet-name>
        <servlet-class>university.web.servlet.CreateLectionCommentServlet</servlet-class>
    </servlet>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>university.web.listener.AppServletContextListener</listener-class>
    </listener>
</web-app>